@import url('https://fonts.googleapis.com/css2?family=Vesper+Libre:wght@500&display=swap');
:root{
    --primary:#000;
    --secondary: white;
    --error: #ff4a4a;
  }
  
  /* base styles & title */
  body{
    margin: 0;
    color: var(--secondary);
    /*background-image: url("./images/background.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top left;
    background-color: #000;
  }
  .App{
    max-width: 960px;
    margin: 0 auto;
    border-radius: 10px;
    height: 100%;
  }